@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: "karla";
  src: url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap");
}

.spinner {
  cursor: pointer;
  position: relative;
  padding: 20px;
  width: 2rem;
  height: 2rem;
  border: 3px solid #293264;
  border-top: 3px solid rgba(255, 255, 255, 0.775);
  border-radius: 50%;
  animation-name: rotate;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
